<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body style="background:#f5f7fb;font-family:Arial;padding:40px;">

<div style="background:white;max-width:400px;margin:auto;padding:30px;border-radius:20px;">

    <h1>Вход</h1>

    <form method="post" action="/login">

        <input
            name="username"
            placeholder="Логин"
            style="width:100%;padding:12px;margin-bottom:10px;"
        >

        <input
            type="password"
            name="password"
            placeholder="Пароль"
            style="width:100%;padding:12px;margin-bottom:10px;"
        >

        <button style="
            width:100%;
            background:#2d89ef;
            color:white;
            border:none;
            padding:12px;
            border-radius:10px;
            cursor:pointer;
        ">
            Войти
        </button>

    </form>

    <br>

    boss / 1234

</div>

</body>

</html>
